.Page {
  width: 75%;
}

.UserPrompts {
  margin-top: 10vh;
}

.Prompt {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.Entry {
  margin-top: 1%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.Error {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 100vw;
}

.AI-Algorithm {
  display: flex;
  justify-content:stretch;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  margin-left: 12%;
  margin-bottom: 20px;
  width: 85vw;
}