.LetterBoxEnter {
  text-align: center;
  font-family:HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-size: 5vh;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  line-height: 9.5vh;
  width: 19%;
  margin-top: 1vw;
  margin-bottom: 0vw;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[data-status='d'] {
  background-color: black;
  color: black;
}

[data-status='r'] {
  background-color: rgb(233, 233, 233);
  color: black;
}

[data-status='i'] {
  background-color: rgb(175, 175, 175);
  color: black;
}

[data-status='m'] {
  background-color:rgb(250, 211, 112);
  color: black;
}

[data-status='a'] {
  background-color:rgb(146, 255, 103);
  color: black;
}

[data-status='v'] {
  background-color: rgb(255, 198, 198);
  color: black;
}

[data-status='s'] {
  background-color: rgb(200, 220, 255);
  color: black;
}

[data-selected="true"] {
  box-shadow: 0px 0px 0px 2px inset blue;
}